In [24]:
import pandas as pd

In [27]:
df = pd.DataFrame({
    'category' : ['A','B','C','A','C','A','B','C','B']
})

In [28]:
df.head()

  category
0        A
1        B
2        C
3        A
4        C

In [29]:
from sklearn.preprocessing import OneHotEncoder

In [31]:
encoded_df = pd.get_dummies(df, columns= ['category'])

In [32]:
encoded_df

   category_A  category_B  category_C
0        True       False       False
1       False        True       False
2       False       False        True
3        True       False       False
4       False       False        True
5        True       False       False
6       False        True       False
7       False       False        True
8       False        True       False

In [34]:
encoded_df = pd.get_dummies(df, columns= ['category'], prefix = 'Dummy', drop_first = True)

In [35]:
encoded_df

   Dummy_B  Dummy_C
0    False    False
1     True    False
2    False     True
3    False    False
4    False     True
5    False    False
6     True    False
7    False     True
8     True    False